pipeline/pl_sales_history_master.json
{
	"name": "pl_sales_history_master",
	"properties": {
		"activities": [
			{
				"name": "JobDetails",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource"
					},
					"dataset": {
						"referenceName": "ds_databricks_delta_job_details",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "JobDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('JobDetails').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "pl_sales_history_master",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_sales_history_child_data",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"job_id": {
										"value": "@item().job_id",
										"type": "Expression"
									},
									"job_name": {
										"value": "@item().job_name",
										"type": "Expression"
									},
									"pyspark_schema": {
										"value": "@item().pyspark_schema",
										"type": "Expression"
									},
									"landing_zone_file_path": {
										"value": "@item().landing_zone_file_path",
										"type": "Expression"
									},
									"landing_zone_folder_name": {
										"value": "@item().landing_zone_folder_name",
										"type": "Expression"
									},
									"landing_zone_file_name": {
										"value": "@item().landing_zone_file_name",
										"type": "Expression"
									},
									"landing_zone_file_type": {
										"value": "@item().landing_zone_file_type",
										"type": "Expression"
									},
									"staging_zone_database_name": {
										"value": "@item().staging_zone_database_name",
										"type": "Expression"
									},
									"staging_zone_table_name": {
										"value": "@item().staging_zone_table_name",
										"type": "Expression"
									},
									"staging_zone_table_pk_column": {
										"value": "@item().staging_zone_table_pk_column",
										"type": "Expression"
									},
									"curation_zone_database_name": {
										"value": "@item().curation_zone_database_name",
										"type": "Expression"
									},
									"curation_zone_table_name": {
										"value": "@item().curation_zone_table_name",
										"type": "Expression"
									},
									"curation_zone_table_pk_column": {
										"value": "@item().curation_zone_table_pk_column",
										"type": "Expression"
									},
									"dw_zone_database_name": {
										"value": "@item().dw_zone_database_name",
										"type": "Expression"
									},
									"dw_zone_table_name": {
										"value": "@item().dw_zone_table_name",
										"type": "Expression"
									},
									"dw_zone_table_pk_column": {
										"value": "@item().dw_zone_table_pk_column",
										"type": "Expression"
									},
									"source_folder_name": {
										"value": "@item().source_folder_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Sales_history_data"
		},
		"annotations": []
	}
}