pipeline/pl_sales_history_child_data.json
{
	"name": "pl_sales_history_child_data",
	"properties": {
		"activities": [
			{
				"name": "GetMetadataadlsgen2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsgen2_saleshistory_getmetdata",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": {
								"value": "@pipeline().parameters.source_folder_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"lastModified",
						"itemType",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterFiles",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetadataadlsgen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadataadlsgen2').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copydataadlsgen2ToBlobStorage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_adlsgen2_file_binarycopy",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@pipeline().parameters.source_folder_name",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_blob_binary_target_sales_history",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@pipeline().parameters.landing_zone_folder_name",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "landingtostaging",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Pyspark_Project_Dynamic/NB_sales_landing_staging",
					"baseParameters": {
						"job_name": {
							"value": "@pipeline().parameters.job_name",
							"type": "Expression"
						},
						"job_id": {
							"value": "@pipeline().parameters.job_id",
							"type": "Expression"
						},
						"pyspark_schema": {
							"value": "@pipeline().parameters.pyspark_schema",
							"type": "Expression"
						},
						" landing_zone_file_path": {
							"value": "@pipeline().parameters.landing_zone_file_path",
							"type": "Expression"
						},
						"landing_zone_folder_name": {
							"value": "@pipeline().parameters.landing_zone_folder_name",
							"type": "Expression"
						},
						"landing_zone_file_name": {
							"value": "@pipeline().parameters.landing_zone_file_name",
							"type": "Expression"
						},
						"landing_zone_file_type": {
							"value": "@pipeline().parameters.landing_zone_file_type",
							"type": "Expression"
						},
						"staging_zone_database_name": {
							"value": "@pipeline().parameters.staging_zone_database_name",
							"type": "Expression"
						},
						"staging_zone_table_name": {
							"value": "@pipeline().parameters.staging_zone_table_name",
							"type": "Expression"
						},
						"staging_zone_table_pk_column": {
							"value": "@pipeline().parameters.staging_zone_table_pk_column",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_adb_salesdata",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "stagingToCuration",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "landingtostaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Pyspark_Project_Dynamic/NB_sales_staging_curated",
					"baseParameters": {
						"job_name": {
							"value": "@pipeline().parameters.job_name",
							"type": "Expression"
						},
						"job_id": {
							"value": "@pipeline().parameters.job_id",
							"type": "Expression"
						},
						"pyspark_schema": {
							"value": "@pipeline().parameters.pyspark_schema",
							"type": "Expression"
						},
						"curation_zone_database_name": {
							"value": "@pipeline().parameters.curation_zone_database_name",
							"type": "Expression"
						},
						"curation_zone_table_name": {
							"value": "@pipeline().parameters.curation_zone_table_name",
							"type": "Expression"
						},
						"curation_zone_table_pk_column": {
							"value": "@pipeline().parameters.curation_zone_table_pk_column",
							"type": "Expression"
						},
						"staging_zone_database_name": {
							"value": "@pipeline().parameters.staging_zone_database_name",
							"type": "Expression"
						},
						"staging_zone_table_name": {
							"value": "@pipeline().parameters.staging_zone_table_name",
							"type": "Expression"
						},
						"staging_zone_table_pk_column": {
							"value": "@pipeline().parameters.staging_zone_table_pk_column",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_adb_salesdata",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "stagingToCuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.table_type, 'dim' )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CurationToDwhDim",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/Pyspark_Project_Dynamic/NB_sales_curation_dwh",
								"baseParameters": {
									"job_name": {
										"value": "@pipeline().parameters.job_name",
										"type": "Expression"
									},
									"job_id": {
										"value": "@pipeline().parameters.job_id",
										"type": "Expression"
									},
									"pyspark_schema": {
										"value": "@pipeline().parameters.pyspark_schema",
										"type": "Expression"
									},
									"curation_zone_database_name": {
										"value": "@pipeline().parameters.curation_zone_database_name",
										"type": "Expression"
									},
									"curation_zone_table_name": {
										"value": "@pipeline().parameters.curation_zone_table_name",
										"type": "Expression"
									},
									"curation_zone_table_pk_column": {
										"value": "@pipeline().parameters.curation_zone_table_pk_column",
										"type": "Expression"
									},
									"dw_zone_database_name": {
										"value": "@pipeline().parameters.dw_zone_database_name",
										"type": "Expression"
									},
									"dw_zone_table_name": {
										"value": "@pipeline().parameters.dw_zone_table_name",
										"type": "Expression"
									},
									"dw_zone_table_pk_column": {
										"value": "@pipeline().parameters.dw_zone_table_pk_column",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_adb_salesdata",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"job_id": {
				"type": "string"
			},
			"job_name": {
				"type": "string"
			},
			"pyspark_schema": {
				"type": "string"
			},
			"landing_zone_file_path": {
				"type": "string"
			},
			"landing_zone_folder_name": {
				"type": "string"
			},
			"landing_zone_file_name": {
				"type": "string"
			},
			"landing_zone_file_type": {
				"type": "string"
			},
			"staging_zone_database_name": {
				"type": "string"
			},
			"staging_zone_table_name": {
				"type": "string"
			},
			"staging_zone_table_pk_column": {
				"type": "string"
			},
			"curation_zone_database_name": {
				"type": "string"
			},
			"curation_zone_table_name": {
				"type": "string"
			},
			"curation_zone_table_pk_column": {
				"type": "string"
			},
			"dw_zone_database_name": {
				"type": "string"
			},
			"dw_zone_table_name": {
				"type": "string"
			},
			"dw_zone_table_pk_column": {
				"type": "string"
			},
			"source_folder_name": {
				"type": "string"
			},
			"table_type": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Sales_history_data"
		},
		"annotations": []
	}
}