adfpyspark1/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpyspark1"
		},
		"ls_adlsgen2_historydat_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adlsgen2_historydat'"
		},
		"ls_blob_sales_data_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blob_sales_data'"
		},
		"ls_azkv_adb_token_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://azkv-sqldb.vault.azure.net/"
		},
		"ls_adlsgen2_historydat_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pyadlsgen2storage.dfs.core.windows.net/"
		},
		"ls_adb_salesdata_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1218-022928-csona1j1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_azkv_adb_token')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_azkv_adb_token_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adlsgen2_historydat')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adlsgen2_historydat_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adlsgen2_historydat_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blob_sales_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blob_sales_data_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adb_delta_lake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-196806687510649.9.azuredatabricks.net",
					"clusterId": "1218-022928-csona1j1",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_azkv_adb_token",
							"type": "LinkedServiceReference"
						},
						"secretName": "adb-token"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azkv_adb_token')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adlsgen2_saleshistory_getmetdata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlsgen2_historydat",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sales_History_data"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().folder_name",
							"type": "Expression"
						},
						"fileSystem": "source\\SH"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsgen2_historydat')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adlsgen2_file_binarycopy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adlsgen2_historydat",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_name": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sales_History_data"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder_name",
							"type": "Expression"
						},
						"fileSystem": "source\\SH"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adlsgen2_historydat')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_binary_target_sales_history')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_sales_data",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"folder_name": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sales_History_data"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('target/',dataset().file_name)",
							"type": "Expression"
						},
						"container": "target"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blob_sales_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adb_salesdata')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-196806687510649.9.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_azkv_adb_token",
							"type": "LinkedServiceReference"
						},
						"secretName": "adb-token"
					},
					"existingClusterId": "[parameters('ls_adb_salesdata_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azkv_adb_token')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_databricks_delta_job_details')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adb_delta_lake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sales_History_data"
				},
				"annotations": [],
				"type": "AzureDatabricksDeltaLakeDataset",
				"typeProperties": {
					"database": "jobs",
					"table": "job_list_dynamic"
				},
				"schema": [
					{
						"name": "job_id",
						"type": "string"
					},
					{
						"name": "job_name",
						"type": "string"
					},
					{
						"name": "source_database_host",
						"type": "string"
					},
					{
						"name": "source_database_username",
						"type": "string"
					},
					{
						"name": "source_database_password",
						"type": "string"
					},
					{
						"name": "source_database_name",
						"type": "string"
					},
					{
						"name": "source_schema_name",
						"type": "string"
					},
					{
						"name": "source_table_name",
						"type": "string"
					},
					{
						"name": "source_file_path",
						"type": "string"
					},
					{
						"name": "source_file_username",
						"type": "string"
					},
					{
						"name": "source_file_password",
						"type": "string"
					},
					{
						"name": "source_folder_name",
						"type": "string"
					},
					{
						"name": "source_file_name",
						"type": "string"
					},
					{
						"name": "source_file_type",
						"type": "string"
					},
					{
						"name": "landing_zone_file_path",
						"type": "string"
					},
					{
						"name": "landing_zone_folder_name",
						"type": "string"
					},
					{
						"name": "landing_zone_file_name",
						"type": "string"
					},
					{
						"name": "landing_zone_file_type",
						"type": "string"
					},
					{
						"name": "staging_zone_database_name",
						"type": "string"
					},
					{
						"name": "staging_zone_schema_name",
						"type": "string"
					},
					{
						"name": "staging_zone_table_name",
						"type": "string"
					},
					{
						"name": "staging_zone_table_pk_column",
						"type": "string"
					},
					{
						"name": "curation_zone_database_name",
						"type": "string"
					},
					{
						"name": "curation_zone_schema_name",
						"type": "string"
					},
					{
						"name": "curation_zone_table_name",
						"type": "string"
					},
					{
						"name": "curation_zone_table_pk_column",
						"type": "string"
					},
					{
						"name": "dw_zone_database_name",
						"type": "string"
					},
					{
						"name": "dw_zone_schema_name",
						"type": "string"
					},
					{
						"name": "dw_zone_table_name",
						"type": "string"
					},
					{
						"name": "dw_zone_table_pk_column",
						"type": "string"
					},
					{
						"name": "raw_zone_file_path",
						"type": "string"
					},
					{
						"name": "raw_zone_folder_name",
						"type": "string"
					},
					{
						"name": "raw_zone_file_name",
						"type": "string"
					},
					{
						"name": "raw_zone_file_type",
						"type": "string"
					},
					{
						"name": "pyspark_schema",
						"type": "string"
					},
					{
						"name": "table_type",
						"type": "string"
					},
					{
						"name": "job_type",
						"type": "string"
					},
					{
						"name": "job_status",
						"type": "string"
					},
					{
						"name": "watermark",
						"type": "timestamp"
					},
					{
						"name": "created_on",
						"type": "timestamp"
					},
					{
						"name": "created_by",
						"type": "string"
					},
					{
						"name": "updated_on",
						"type": "timestamp"
					},
					{
						"name": "updated_by",
						"type": "string"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adb_delta_lake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sales_history_child_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadataadlsgen2",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_adlsgen2_saleshistory_getmetdata",
								"type": "DatasetReference",
								"parameters": {
									"folder_name": {
										"value": "@pipeline().parameters.source_folder_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems",
								"exists",
								"itemName",
								"lastModified",
								"itemType",
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "FilterFiles",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "GetMetadataadlsgen2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetMetadataadlsgen2').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type,'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "FilterFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('FilterFiles').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copydataadlsgen2ToBlobStorage",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_adlsgen2_file_binarycopy",
											"type": "DatasetReference",
											"parameters": {
												"folder_name": {
													"value": "@pipeline().parameters.source_folder_name",
													"type": "Expression"
												},
												"file_name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_blob_binary_target_sales_history",
											"type": "DatasetReference",
											"parameters": {
												"folder_name": {
													"value": "@pipeline().parameters.landing_zone_folder_name",
													"type": "Expression"
												},
												"file_name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "landingtostaging",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Pyspark_Project_Dynamic/NB_sales_landing_staging",
							"baseParameters": {
								"job_name": {
									"value": "@pipeline().parameters.job_name",
									"type": "Expression"
								},
								"job_id": {
									"value": "@pipeline().parameters.job_id",
									"type": "Expression"
								},
								"pyspark_schema": {
									"value": "@pipeline().parameters.pyspark_schema",
									"type": "Expression"
								},
								" landing_zone_file_path": {
									"value": "@pipeline().parameters.landing_zone_file_path",
									"type": "Expression"
								},
								"landing_zone_folder_name": {
									"value": "@pipeline().parameters.landing_zone_folder_name",
									"type": "Expression"
								},
								"landing_zone_file_name": {
									"value": "@pipeline().parameters.landing_zone_file_name",
									"type": "Expression"
								},
								"landing_zone_file_type": {
									"value": "@pipeline().parameters.landing_zone_file_type",
									"type": "Expression"
								},
								"staging_zone_database_name": {
									"value": "@pipeline().parameters.staging_zone_database_name",
									"type": "Expression"
								},
								"staging_zone_table_name": {
									"value": "@pipeline().parameters.staging_zone_table_name",
									"type": "Expression"
								},
								"staging_zone_table_pk_column": {
									"value": "@pipeline().parameters.staging_zone_table_pk_column",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_salesdata",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "stagingToCuration",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "landingtostaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/Pyspark_Project_Dynamic/NB_sales_staging_curated",
							"baseParameters": {
								"job_name": {
									"value": "@pipeline().parameters.job_name",
									"type": "Expression"
								},
								"job_id": {
									"value": "@pipeline().parameters.job_id",
									"type": "Expression"
								},
								"pyspark_schema": {
									"value": "@pipeline().parameters.pyspark_schema",
									"type": "Expression"
								},
								"curation_zone_database_name": {
									"value": "@pipeline().parameters.curation_zone_database_name",
									"type": "Expression"
								},
								"curation_zone_table_name": {
									"value": "@pipeline().parameters.curation_zone_table_name",
									"type": "Expression"
								},
								"curation_zone_table_pk_column": {
									"value": "@pipeline().parameters.curation_zone_table_pk_column",
									"type": "Expression"
								},
								"staging_zone_database_name": {
									"value": "@pipeline().parameters.staging_zone_database_name",
									"type": "Expression"
								},
								"staging_zone_table_name": {
									"value": "@pipeline().parameters.staging_zone_table_name",
									"type": "Expression"
								},
								"staging_zone_table_pk_column": {
									"value": "@pipeline().parameters.staging_zone_table_pk_column",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_salesdata",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "stagingToCuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.table_type, 'dim' )",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"job_id": {
						"type": "string"
					},
					"job_name": {
						"type": "string"
					},
					"pyspark_schema": {
						"type": "string"
					},
					"landing_zone_file_path": {
						"type": "string"
					},
					"landing_zone_folder_name": {
						"type": "string"
					},
					"landing_zone_file_name": {
						"type": "string"
					},
					"landing_zone_file_type": {
						"type": "string"
					},
					"staging_zone_database_name": {
						"type": "string"
					},
					"staging_zone_table_name": {
						"type": "string"
					},
					"staging_zone_table_pk_column": {
						"type": "string"
					},
					"curation_zone_database_name": {
						"type": "string"
					},
					"curation_zone_table_name": {
						"type": "string"
					},
					"curation_zone_table_pk_column": {
						"type": "string"
					},
					"dw_zone_database_name": {
						"type": "string"
					},
					"dw_zone_table_name": {
						"type": "string"
					},
					"dw_zone_table_pk_column": {
						"type": "string"
					},
					"source_folder_name": {
						"type": "string"
					},
					"table_type": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Sales_history_data"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adlsgen2_saleshistory_getmetdata')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adb_salesdata')]",
				"[concat(variables('factoryId'), '/datasets/ds_adlsgen2_file_binarycopy')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob_binary_target_sales_history')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_sales_history_master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "JobDetails",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDatabricksDeltaLakeSource",
								"query": "select * from jobs.JOB_LIST_DYNAMIC where  job_status=1 order by job_id"
							},
							"dataset": {
								"referenceName": "ds_databricks_delta_job_details",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "JobDetails",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('JobDetails').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "pl_sales_history_master",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_sales_history_child_data",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"job_id": {
												"value": "@item().job_id",
												"type": "Expression"
											},
											"job_name": {
												"value": "@item().job_name",
												"type": "Expression"
											},
											"pyspark_schema": {
												"value": "@item().pyspark_schema",
												"type": "Expression"
											},
											"landing_zone_file_path": {
												"value": "@item().landing_zone_file_path",
												"type": "Expression"
											},
											"landing_zone_folder_name": {
												"value": "@item().landing_zone_folder_name",
												"type": "Expression"
											},
											"landing_zone_file_name": {
												"value": "@item().landing_zone_file_name",
												"type": "Expression"
											},
											"landing_zone_file_type": {
												"value": "@item().landing_zone_file_type",
												"type": "Expression"
											},
											"staging_zone_database_name": {
												"value": "@item().staging_zone_database_name",
												"type": "Expression"
											},
											"staging_zone_table_name": {
												"value": "@item().staging_zone_table_name",
												"type": "Expression"
											},
											"staging_zone_table_pk_column": {
												"value": "@item().staging_zone_table_pk_column",
												"type": "Expression"
											},
											"curation_zone_database_name": {
												"value": "@item().curation_zone_database_name",
												"type": "Expression"
											},
											"curation_zone_table_name": {
												"value": "@item().curation_zone_table_name",
												"type": "Expression"
											},
											"curation_zone_table_pk_column": {
												"value": "@item().curation_zone_table_pk_column",
												"type": "Expression"
											},
											"dw_zone_database_name": {
												"value": "@item().dw_zone_database_name",
												"type": "Expression"
											},
											"dw_zone_table_name": {
												"value": "@item().dw_zone_table_name",
												"type": "Expression"
											},
											"dw_zone_table_pk_column": {
												"value": "@item().dw_zone_table_pk_column",
												"type": "Expression"
											},
											"source_folder_name": {
												"value": "@item().source_folder_name",
												"type": "Expression"
											},
											"table_type": {
												"value": "@item().table_type",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Sales_history_data"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_databricks_delta_job_details')]",
				"[concat(variables('factoryId'), '/pipelines/pl_sales_history_child_data')]"
			]
		}
	]
}